* {
    margin: 0;
    padding: 0;
}

/* Common Css Start Here */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Common Css End Here */
/* --------------------------- */


/* Banner Section Start Here */

header {
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 180px;
}

.banner-section {
    height: 769px;
    gap: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0px;
}

.banner-heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 710px;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-bottom: 20px;
}

.banner-btn {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    cursor: pointer;
}

.banner-right img {
    height: 940px;
    margin-top: 130px;
}



/* Banner Section End Here */
/* ----------------------------------- */

/* Feature Section Start Here */
.feature-section {
    margin-top: 20px;
    margin-bottom: 100px;
}

.feature-heading {
    text-align: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.feature-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.flower-gallary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;

}

.flower_1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
}

.flower_2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;

}

.flower_3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
}

.flower_1 img {
    margin-top: 110px;
}

.flower_2 img {
    margin-top: 110px;
    margin-bottom: 60px;
}

.flower_3 img {
    margin-top: 67px;
}

.flower-name {
    margin-top: 25px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}

/* Feature Section End Here */
/* ----------------------------------- */


/* Support Section Start Here */

.support-section {
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 200px;
    margin-bottom: 150px;
}

.support_1 {
    text-align: center;
}

.support_2 {
    text-align: center;
}

.support_3 {
    text-align: center;
}

.support-desc {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}


/* Support Section End Here */
/* ------------------------------ */


/* Deal Section Start Here */

.deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 150px;
}

.deal {
    height: 640px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.deal-heading {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
    text-align: center;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin-bottom: 25px;
}

.deal-btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-left: 230px;
}

.deal-heading .style_1 {
    color: #E55473;
}



/* Deal Section End Here */
/* --------------------------- */


/* Instagram Section Start Here */


.insta-heading {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.insta-desc {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.insta-gallary-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}


/* Instagram Section End Here */
/* ------------------------------ */


/* Form Section Start Here */
.form-section {
    background-image: url('./images/Rectangle\ 9.png');
    border-radius: 8px;
    height: 449px;
    margin-bottom: 150px;
    text-align: center;

}

.form-heading {
    color: rgb(39, 39, 39);
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* margin-top: 0px; */
    padding: 80px 0;
    padding-top: 135px;
}

.form-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: -60px;
}

input[type="email"] {
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 15px 21px;
    width: 660px;
    height: 30px;
}

input[type="submit"] {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    padding: 18px 30px;
    border: 0;
    margin-left: 5px;
    cursor: pointer;
}


/* Form Section End Here */
/* ------------------------------ */


/* Footer section Start Here  */

.footer-section {
    padding: 150px 20px;
    background-color: #111010;
    text-align: center;
}

.footer-heading {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-heading .footer-heading-style {
    color: #E55473;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin: 35px auto;
}

.footer-section p {

    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Footer section End Here */
/* ------------------------------ */